:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #FFFFFF;
    --link-color: #2196F3;
    --primary-background: #2F303A;
    --light-background: #FFFFFF;
    --dark-background: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--link-color);
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  max-width: 1600px;
  display: block;
  border-bottom: 1px solid #ececec;
}
.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

/* ---------------------HEADER------------------------------ */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--link-color);
    margin-right: 93px;
}


.logo-header {
    color: var(--primary-text-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.address-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* ---------------------------HERO-----------------------   */

.hero-section {
    display: inline-block;
    align-items: center;
    max-width: 1600px;
    background: var(--primary-background);
    padding: 200px 452px;
}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-text-color);
    margin: 0 auto 30px;
}

.button-hero {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--link-color);
    color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
}

.button-hero:hover,
.button-hero:focus {
    background: #188CE8;
}

.visually-hidden {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}

/* <!-- ---------------ОСОБЛИВОСТІ--------------------------- --> */
      
.benefits-list {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.benefits-item {
    width: calc((100%-90) / 4);
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    margin-top: 30px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* <!-- ---------------------ЧИМ ЗАЙМАЄМОСЯ--------------------------- --> */

.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* <!-- ------------------------------КОМАНДА---------------------------------- --> */


.team {
    background: var(--dark-background);
}

.team-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-item {
    background: var(--light-background);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    margin-bottom: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

/* <!-- -------------------------------КЛІЄНТИ--------------------------- --> */


/* --------------------FOOTER--------------------------- */

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    background-color: var(--primary-background);
}
  
.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-div {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}


.footer-list {
    margin-top: 20px;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.logo-footer-span {
    color: var(--accent-text-color);
}


.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* ------------------potfolio--------------------- */

.portfolio-button {
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    color: var(--primary-text-color);
    background: var(--dark-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--accent-text-color);
    background: var(--link-color);
}

.potfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.potfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}