:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #FFFFFF;
    --link-color: #2196F3;
    --primary-background: #2F303A;
    --light-background: #FFFFFF;
    --dark-background: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--link-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--link-color);
}

.logo-header {
    color: var(--primary-text-color);
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.address-mail,
.address-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* ------------HEADER------------   */
.hero-section {
    width: 1600px;
    background: var(--primary-background);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-text-color);
}

.button-hero {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--link-color);
    color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.visually-hidden {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team {
    background: var(--dark-background);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-item {
    background: var(--light-background);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* ----------FOOTER--------------- */
.footer {
    background: var(--primary-background);
}

.logo-footer {
    color: var(--accent-text-color);
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* -------------potfolio------------ */
.portfolio-button {
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    color: var(--primary-text-color);
    background: var(--dark-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--accent-text-color);
    background: var(--link-color);
}

.potfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.potfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}